<div>
    <h2 *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <span jhiTranslate="mediafuryApp.movie.home.title">Movies</span>
        <button class="btn btn-primary float-right jh-create-entity create-movie" [routerLink]="['/', { outlets: { popup: ['movie-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mediafuryApp.movie.home.createLabel">
            Create new Movie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="movies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="mediafuryApp.movie.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="year"><span jhiTranslate="mediafuryApp.movie.year">Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="plot"><span jhiTranslate="mediafuryApp.movie.plot">Plot</span> <span class="fa fa-sort"></span></th>
            <th><span jhiTranslate="mediafuryApp.movie.image">Image</span></th>
            <th jhiSortBy="elo"><span jhiTranslate="mediafuryApp.movie.elo">Elo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movie of movies ;trackBy: trackId">
                <td><a [routerLink]="['../movie', movie.id ]">{{movie.id}}</a></td>
                <td>{{movie.title}}</td>
                <td>{{movie.year}}</td>
                <td>{{movie.plot}}</td>
                <td><jhi-movie-poster height="100" [movie]="movie"></jhi-movie-poster></td>
                <td>{{movie.elo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../movie', movie.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movie/'+ movie.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movie/'+ movie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="movies && movies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
