
<div *ngIf="movie">
    <h2>{{movie.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mediafuryApp.movie.year">Year</span></dt>
        <dd>
            <span>{{movie.year}}</span>
        </dd>
        <dt><span jhiTranslate="mediafuryApp.movie.plot">Plot</span></dt>
        <dd>
            <span>{{movie.plot}}</span>
        </dd>
        <dt><span jhiTranslate="mediafuryApp.movie.image">Image</span></dt>
        <dd>
            <jhi-movie-poster [movie]="movie"></jhi-movie-poster>
        </dd>
        <dt><span jhiTranslate="mediafuryApp.movie.elo">Elo</span></dt>
        <dd>
            <span>{{movie.elo}}</span>
        </dd>
        <dt><span jhiTranslate="mediafuryApp.movie.category">Category</span></dt>
        <dd>
            <ul *ngFor="let category of movie.categories">
                <li>
                    <a [routerLink]="['/category', category?.id ]">{{category.name}}</a>
                </li>
            </ul>
        </dd>
        <dt><span jhiTranslate="mediafuryApp.movie.moviePerson">Person</span></dt>
        <dd>
            <ul *ngFor="let moviePerson of movie.moviePeople">
                <li>
                    <a [routerLink]="['/person', moviePerson?.personId ]">{{moviePerson.role}} - {{moviePerson.personName}}</a>
                </li>
            </ul>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
            type="button"
            [routerLink]="['/', { outlets: { popup: 'movie/'+ movie.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
