
/* ==========================================================================
Fury page styles
========================================================================== */

.cursor-pointer {
    cursor: pointer;
}

jhi-movie-random {
    display: block;
}

.fury-contest {
    min-height: 600px;
}
